{
  "server": {
    "port": 8000,
    "url": "localhost",
    "name": "LabNet"
  },
  "serial": {
    "port": "/dev/ttyUSB0",
    "baudrate": 19200
  },
  "xbmc": {
    "mac": "00:26:9e:c6:c7:14",
    "url": "192.168.1.5",
    "user": "user",
    "pw": "pw"
  }
}
